
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
/* estilização cabeçalho */
body{
  
    
    margin:0;
}

.container{
    line-height: 150%;
}
.header {
    background-color: rgb(41, 41, 41);
    align-items: center;
    padding: 15px;
    justify-content: space-between;
    display: flex
}
.header h1 {
    font-family: 
    'Montserrat', sans-serif;
    color:aliceblue
    font-size 30px;
}
header.social a {
    padding: 0 5px; 
    text-decoration:none;
}
/* estilização do menu lateral */
.left{
    float:left;
    width: 180px;
    margin: 0;
    padding:1 em ;
}
ul{
    list-style-type:none;
    /* border-left:1px solid black ; */
    margin:0;
    padding:0;
}
li a {
    display: block;
    color:black;
    padding: 8px 16px;
    text-decoration: none;
}
li a.active{
    background-color:rgb(41, 41, 41);
    color: white;
}
li a:hover:not(.active){
    background-color: rgb(41, 41, 41);
    color: white;
}
/* estilização do coteúdo principal */
.content{
    margin-left:200px ;
    border-left:1px solid rgb(41, 41, 41); 
    padding: 1em;
}

/* Estilização da tabela */

table{
    border-collapse: collapse;
    width: 100%;
    margin: 30px 0 ;
}
    td,
    th{
    border:1px solid black;
    padding:8px;
    }

    tr:nth-child(1){
      background-color:  rgb(41, 41, 41);
      color: white;  
    }
    tr td i.fa-brands{
        text-align: center;
        display: block;
        font-size: 35px;
    }
    /* estlização rodapé */
    .footer{
        background-color:rgb(41, 41, 41); 
        padding:55px 20px;
        text-align:center;
        color:white;
        font-size: 40px;
    }